<%- include('layouts/head'); -%>
<%- include('layouts/navUser'); -%>

<div class="taiste">
    <div class="username">
        <h3>Votre nom d'utilisateur:</h3>
        <p>User Name</p>
    </div>
    <div class="mail">
        <h3>Votre adresse mail:</h3>
        <p> _____@___._</p>
    </div>
    <div class="preferTeam">
        <h3>Votre équipe préferée:</h3>
        <p> (input radio checked si un input est checked) </p>
    </div>
</div>

    <style>
        .taiste {
            padding: 150px;
        }
    </style>



<%- include('layouts/footer'); -%>
